<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1431</integer>
	<key>capHeight</key>
	<integer>1241</integer>
	<key>descender</key>
	<integer>-512</integer>
	<key>familyName</key>
	<string>Mertz Bold</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2012/05/25 23:05:01</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Mertz</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>7</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<real>700</real>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1536</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>512</integer>
	<key>postscriptBlueScale</key>
	<real>0.020906930789351463</real>
	<key>postscriptBlueShift</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-33</integer>
		<integer>0</integer>
		<integer>863</integer>
		<integer>880</integer>
		<integer>1241</integer>
		<integer>1276</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Mertz-Bold</string>
	<key>postscriptFullName</key>
	<string>Mertz Light bold2</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-402</integer>
		<integer>-339</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>13</integer>
		<integer>118</integer>
		<integer>125</integer>
		<integer>146</integer>
		<integer>151</integer>
		<integer>162</integer>
		<integer>164</integer>
		<integer>168</integer>
		<integer>172</integer>
		<integer>323</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>163</integer>
		<integer>182</integer>
		<integer>184</integer>
		<integer>188</integer>
		<integer>189</integer>
		<integer>193</integer>
		<integer>194</integer>
		<integer>197</integer>
		<integer>198</integer>
		<integer>199</integer>
		<integer>247</integer>
		<integer>471</integer>
	</array>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>bold2</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>863</integer>
</dict>
</plist>
