<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1451</integer>
	<key>capHeight</key>
	<integer>1241</integer>
	<key>descender</key>
	<integer>-512</integer>
	<key>familyName</key>
	<string>Mertz Bold</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHeadCreated</key>
	<string>2012/05/25 23:06:06</string>
	<key>openTypeNameDesigner</key>
	<string>vernon adams</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Mertz</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>7</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<real>700</real>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1536</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>512</integer>
	<key>postscriptBlueScale</key>
	<real>0.0209376011043787</real>
	<key>postscriptBlueShift</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-33</integer>
		<integer>0</integer>
		<integer>867</integer>
		<integer>885</integer>
		<integer>1241</integer>
		<integer>1276</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Mertz-Bold</string>
	<key>postscriptFullName</key>
	<string>Mertz Light bold</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-400</integer>
		<integer>-340</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>15</integer>
		<integer>131</integer>
		<integer>138</integer>
		<integer>162</integer>
		<integer>167</integer>
		<integer>180</integer>
		<integer>182</integer>
		<integer>186</integer>
		<integer>191</integer>
		<integer>358</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>181</integer>
		<integer>202</integer>
		<integer>204</integer>
		<integer>208</integer>
		<integer>209</integer>
		<integer>214</integer>
		<integer>215</integer>
		<integer>218</integer>
		<integer>219</integer>
		<integer>221</integer>
		<integer>274</integer>
		<integer>522</integer>
	</array>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>bold</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>867</integer>
</dict>
</plist>
